@media (max-width: 600px) {
  .hide_on_mobile{
    display: none;
  }
}

@media (min-width: 600px) {
  .only_on_mobile{
    display: none;
  }
}

body {
  background-color: black;
  color: #0D0C1C;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#nav{
  color: #D8DAE7;
  padding: 5px;
  margin: 5px;
  background-color: #0C141F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  #nav {
    flex-direction: column;
  }
}

#nav a{
  color: #D8DAE7;
  text-decoration: none;
}

#nav_links{
  display: flex;
  align-items: center;
}

.nav_item {
  padding-right: 10px;
  text-align: right;
  font-size: 1.25em;
}

#nav h1 {
  display: inline-block;
  margin: 0px;
}


#page_nav {
  color: #D8DAE7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50px;
  font-size: 1.5rem;
}

#page_nav a{
  color: #D8DAE7;
  text-decoration: none;
}

.article{
 padding: 5px 10px 10px 15px;
 margin: 10px;
 background-color: white;
 box-shadow: 0 0 10px gray;
 border-radius: 5px;
}

.article_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article_date{
  font-weight: bold;
  text-align: center;
}

.article_tags{
  display: flex;
  justify-content: flex-end;
}

.article_tags a{
  text-decoration: none;
}

.article_img{
  max-width: 100%;
}

.article_imgs{
  display: flex;
}

.article_imgs a,
.article_imgs img{
  padding: 5px;
}

@media (max-width: 600px) {
  .article_imgs{
    flex-direction: column;
  }
}

.hljs{
  white-space: pre;
  padding-bottom: 15px;
}

.highlight{
  overflow: auto;
}

#presentation_list{
  list-style-type: circle;
}

#presentation_list li{
  margin-bottom: 10px;
}
