body {
  background-color: black;
  color: #0D0C1C;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0;
}

#matrix_output{
 position: fixed;
 top: 0;
 z-index: -1;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.article{
 padding: 5px 10px 10px 15px;
 margin: 10px;
 background-color: white;
 box-shadow: 0 0 10px gray;
 width: 75%;
 border-radius: 5px;
}

.article_tags {
  background-color: gray;
  color: white;
  float: right;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.article_tags a{
  color: white;
  text-decoration: none;
}

#nav{
  color: #D8DAE7;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid green;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: #0C141F;
}

#nav a{
  color: #D8DAE7;
  text-decoration: none;
}


.nav_item {
  padding-left: 10px;
  text-align: right;
  display: block;
  font-size: 1.25em;
}

#nav h1 {
  font-family: Orbitron;
  font-size: 2.25em;
  padding-right: 10px;
  margin: 0px;
}


#page_nav {
  background-color: #0C141F;
  color: #D8DAE7;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid green;
  position: fixed;
  bottom: 0px;
  right: 3px;
}

#page_nav a{
  color: #D8DAE7;
  text-decoration: none;
}

#tag_widget {
  position: fixed;
  top:  250px;
  right: 0;

  color: #D8DAE7;
  border: 1px solid green;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: #0C141F;

  width:  200px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

#tag_widget h1{
  font-family: Orbitron;
  font-size: 1.25em;
  padding-right: 10px;
  margin: 0px;
}

#tag_widget a{
  color: #D8DAE7;
  text-decoration: none;
  display: inline-block;
  float: right;
}

.article-date {
  float: right;
  margin-left: 10px;
}

.article-date span {
  width: 100px;
  display: block;
  font: 18px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  text-align: center;
}

.article-date .month {
  background: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-date .day {
  font-size: 44px;
  line-height: 50px;
  background: #333;
  color: #eee;
  text-shadow: 2px 2px 2px #888;
}

.article-date .year {
  background: #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.article-date .sep {
  display: none;
}

.hljs{
  white-space: pre;
  padding-bottom: 15px;
}
