---
title: jQuery Dump Plugin
date: 2009-07-31
---

<p>
For some reason I've always found dumping objects to see their contents and methods in javascript a pain. Today I found this very useful jQuery plugin that provides the most complete / robust dump functionality with the best output I've seen. You can d/l it from <a href="http://mohammed.morsi.org/blog/files/jquery.dump_.js.txt">here</a> (save it as jquery.dump.js, sometimes drupal mangles filenames for security) and after including it in your html, simply invoke $.dump(whatever_javascript_object).<br/>
</p>

<p>
Here are a couple of quick screenshots I took of the output, note there is alot more, I just grabbed the beginning of the attributes and functions sections.
</p>

<div style="float: left; padding-right: 30px;"><%= link_to image_tag("jquery-dump.png", :style => "height:150px; width:150px;"), image_path("jquery-dump.png") %></div>

<div><%= link_to image_tag("jquery-dump1.png", :style => "height:150px; width:150px;"), image_path("jquery-dump1.png") %></div>
