---
title: Ruby and Fedora 14
date: 2010-09-16
---

<%= image_tag "ruby-fedora.png", :style => 'float: right; height: 150px; width: 120px; padding-left: 5px;' %>

<p>
Just a quick update, both Ruby 1.8.7 and Rails 2.3.8 are now official in and will be shipping with Fedora 14. Many thanks to those who helped for all their hard work, and for those relying on these rpms please testing your software  and systems to ensure compatibility and prevent any surprises if/when you upgrade. Feel free to <a href="https://bugzilla.redhat.com/enter_bug.cgi?product=Fedora">report</a> any issues you find (and please do if you find them).
</p>

<p>
I'm going to be putting development on these on hold for a little while while I work on other things, namely my main project <a href="http://deltacloud.org">deltacloud</a> (make sure to check it out, the team has done alot of great work on it and it's coming along nicely) and getting <a href="https://bugzilla.redhat.com/show_bug.cgi?id=561484">jruby</a> and <a href="https://bugzilla.redhat.com/show_bug.cgi?id=470696">passenger</a> into Fedora. I intend to get back to this eventually, to help <a href="http://fedoraproject.org/wiki/JeroenVanMeeuwen">Jeroen</a> with the parallel installable Ruby 1.9 work and figuring out a strategy for Rails 3.0.0 support. Until then, have fun!
</p>
