---
title: Updated Rails 2.3.8 RPMS
date: 2010-08-09
---

<%= image_tag "ruby-fedora.png", :style => 'float: right; height: 200px; width: 160px; padding-left: 5px;' %>

<p>
Happy to say that the Ruby 1.8.7 RPM has been community vetted, is in rawhide, and is scheduled to go into Fedora 14. Many thanks to all those on ruby-sig for their efforts.
</p>

<p>
Attached are some updated Rails 2.3.8 srpms which address most of the issues that I could find when updating. They entail the rebased upstream sources and handle any discrepancies between the versions. With any luck these should be pretty close to being good to go and are ready for testing and the eventual push into Fedora.
</p>

<p>
<a href="http://mo.morsi.org/files/rpms/rubygem-activesupport-2.3.8-1.fc13.src.rpm">activesupport</a>, <a href="http://mo.morsi.org/files/rpms/rubygem-activerecord-2.3.8-1.fc13.src.rpm">activerecord</a>, <a href="http://mo.morsi.org/files/rpms/rubygem-actionpack-2.3.8-1.fc13.src.rpm">actionpack</a>, <a href="http://mo.morsi.org/files/rpms/rubygem-actionmailer-2.3.8-1.fc13.src.rpm">actionmailer</a>, <a href="http://mo.morsi.org/files/rpms/rubygem-activeresource-2.3.8-1.fc13.src.rpm">activeresource</a>, <a href="http://mo.morsi.org/files/rpms/rubygem-rails-2.3.8-1.fc13.src.rpm">rails</a>
</p>

<p>
Have at it!
</p>
