---
title: Submitted two Hackfests to FUDCon
date: 2011-11-28
tags: fudcon, conference
---

<%= image_tag "Fudcon_blacksburg_withdate.png", :style => "float: right; margin-left: 10px;" %>

<p>
I had such a great time at the last FUDCon I attended, <a href="http://fedoraproject.org/wiki/Archive:FUDCon:Toronto_2009">Toronto '09</a> that I decided to return for <a href="https://fedoraproject.org/wiki/FUDCon:Blacksburg_2012">Blacksburg '12</a> this upcoming January 13th-15th in Blacksburg, Virgina. Some of you may recall, during the last FUDCon, I gave a <a href="http://mo.morsi.org/files/presentations/fudcon09.odp">presentation</a> on <a href="http://incubator.apache.org/deltacloud/">deltacloud</a>, the core component of <a href="https://www.aeolusproject.org/">Aeolus</a> the Open Source Cloud Computing API.
</p>

<p>
Alot of great work has went into the project over the last couple of years, and I've decided to submit a few <a href="https://fedoraproject.org/wiki/FUDCon:Blacksburg_2012#Hackfests_.26_Workshops">hackfest proposals</a> around using some of the tooling in unique ways. With the first proposal, I aim to go over the various projects that exist under the Aeolus umbrella, and use them to build some simple tools to deploy and monitor cloud provider instances in interesting ways. With my second proposal, I intend to take my subproject <a href="http://github.com/movitto/snap">Snap</a> (the modular system snapshotter for Fedora/Ubuntu/Windows/etc) and expand it with more custom snapshot targets. I have a bunch in mind, but I'm more than eager to help anyone write a plugin to take a snapshot of their own custom software (these are very easy to write and integrate into the project).
</p>

<p>
In any case, the conference should be a really fun time as always, and I'm really looking forward to it! Hope to see you all there!
</p>
