---
title: Going to Notacon
date: 2011-04-20
---

<%= image_tag "naclogo_small.png", :style => "float: left; padding-right: 10px;" %>

<p>
Wow its been a while since I blogged, more of a lack of time than a lack of content to blog about though.
</p>

<p>
Regardless, I'm excited to say that a few of us from the <a href="http://sig315.org">Syracuse Innovators Guild</a> and a few members from Rochester's <a href="http://www.interlockroc.org/">Interlock</a>  are going to be carpooling together next week to attend <a href="http://www.notacon.org/">Notacon</a>, a tech conference in Cleveland OH.
</p>

<p>
Look for some posts in the near future regarding my experiences at the conference! (as well as on the million other things I've been meaning to blog about :-p)
</p>

<div style="clear: both"></div>
