---
title: Aeolus Screencasts
date: 2011-11-30
---

<p>
For those who missed it, be sure to checkout the <a href="https://www.aeolusproject.org/">Aeolus Project</a> <a href="http://www.youtube.com/user/aeolusproject?feature=mhee">youtube channel</a> which contains several screencasts around current usage of Aeolus including topics such as:
</p>

<div  style="float: left; margin-right: 10px;">
  <iframe width="310" height="325" src="http://www.youtube.com/embed/VxEewRiztXU" frameborder="0" allowfullscreen></iframe><br/>
Building cross-cloud images
</div>


<div  style="float: left; margin-right: 10px;">
<iframe width="310" height="325" src="http://www.youtube.com/embed/G4P_GoK6Fio" frameborder="0" allowfullscreen style="float: left;"></iframe><br/>
Deploying instances to various clouds
</div>

<div  style="float: left;">
<iframe width="310" height="325" src="http://www.youtube.com/embed/mOkfK89CEyE" frameborder="0" allowfullscreen></iframe><br/>
And Managing workloads across clouds
</div>

<div style="clear: both;"></div>

<p>
As we ramp up to work on Aeolus at <a href="http://mo.morsi.org/blog/node/351">FUDCon</a> we will be throwing more of these together and uploading them to youtube, so stay tuned for updates!
</p>
