---
title: Migrating Windows Instances Across Clouds  / Virtualization Hypervisors
date: 2011-11-22
---

<%= image_tag "snap-logo.png", :style => "float:left; margin-right: 10px;" %>

<p>
I've added Windows support to <a href="https://github.com/movitto/snap">Snap</a>, now making it possible to take snapshots of a Windows machine using the same simple tooling as with Linux. Thus it is now possible to move both Windows and Linux instances across disparate VM hypervisors and cloud providers. You may download the windows installer <a href="http://mo.morsi.org/files/snap/snap-installer.exe">here</a>
</p>

<p>
Snap not only permits moving an instance between any two generic hypervisors and/or cloud providers, but between any physical or virtual machines as well as well as taking and restoring generic system snapshots. 
</p>

<p>
I've submitted Snap to <a href="https://bugzilla.redhat.com/show_bug.cgi?id=755890">Fedora</a> and <a href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=649585">Ubuntu</a>, package reviewers would be more than appreciated.
</p>

<p>
Stay tuned for more updates!
</p>

<div style="clear: both;"></div>
