---
title: JRuby is in Fedora!
date: 2011-08-02
---

<%= image_tag "jruby-logo.png", :style => "float: left; width: 200px; height: 100px; margin-right: 10px;" %> It's been a <a href="http://mo.morsi.org/blog/node/305">long</a> <a href="http://mo.morsi.org/blog/node/308">ways</a> <a href="https://bugzilla.redhat.com/show_bug.cgi?id=561484">coming</a>, but JRuby has finally shipped in Fedora starting w/ F16. Feel free to grab it directly from the repos and take it for a spin!

Many thanks to <a href="http://admin.fedoraproject.org/pkgdb/users/packages/akurtakov">akurtakov</a> and everyone else who was involved in the review process.
<div style="clear: both;"></div>
