---
title: Presenting Aeolus at the CNY Engineering Expo
date: 2011-11-06
---

<%= image_tag "engineering-expo.jpg", :style => "width: 750px;" %>

<p>
For those in the Upstate NY region, be sure to checkout the <a href="http://www.cscos.com/engineeringexpo">CNY Engineering Expo</a> to be held a week from tomorrow, on Monday November 14th. There I will be presented an introductory talk on <a href="http://aeolusproject.org">Aeolus</a>, Red Hat's Open Source Cloud Computing API. The conference is a multi-disciplinary engineering conference, so I will be going over some cloud computing basics and terminology before diving into the specifics of the framework and what it can do for the attendees.
</p>

<p>
For those that can't make it, I've already uploaded my <a href="http://mo.morsi.org/files/presentations/engineering-expo/engineering-expo.odp">presentation</a> (<a href="http://mo.morsi.org/files/presentations/engineering-expo/engineering-expo.ppt">ppt</a>) to the newly revamped <a href="http://projects.morsi.org/wiki/Main_Page">projects</a> / <a href="http://projects.morsi.org/wiki/Presentations">presentations</a> seciton of my website.
</p>

<p>
Hope to see everyone there!
</p>
