---
title: Battle of the Distros
date: 2011-05-04
tags: linux, distros
---

<img src="http://www.syrlug.org/images/syrlug-logo.png" style="float: right; margin-left: 10px"/>

<p>Tonight we're going to be having a friendly battle of the distros at the <a href="http://syrlug.org/">Syracuse Linux User's Group</a>. Essentially its just a chance for people to come together and talk about their favorite Linux distributions and what they like the most about them. 
</p>

<p>
I will be representing <a href="http://fedoraproject.org/">Fedora</a> tonight (see my talking points after the <a href="http://mo.morsi.org/blog/node/335">jump</a> below) and I invite everyone who is in the area to attend!
</p>

<p>
Fedora Linux
<p>

<b>* Overview</b>
<ul>
  <li>A Linux distribution based on RPM / Yum</li>
  <li>Sponsored by Red Hat and supported by the community</li>
  <li>Large active community with many different special interest groups or SIGs, eg smaller sub-communities specializing a specific topic, for example java/python/ruby, cloud, kde, robotics, ham radio, etc.</li>
  <li>"Bleeding edge" distro but its not the wild-west. Up to the specific SIGs to determine when the packages they maintain are stable and/or otherwise qualified to be updated</li>
</ul>


<b>* How does your distribution relate to other distributions?</b>
<ul>
  <li>Originally forked from RH Linux along w/ RHEL</li>
  <li>EPEL repos exist to help bridge the gap between Fedora and RHEL</li>
  <li>Based on RPM / Yum, common among Linux distros (suse, mandriva, arklinux), can use similar tooling across those</li>
  <li>Staging area for developing free software and for deploying and testing packages which might make their way into other distros as well</li>
</ul>

<b>* What unique feature(s) of your distribution do you like best?</b>
<ul>
  <li>Supported by both the community and sponsored by a big company, get a good mix of community contributions but with the funding a big company can provide</li>
  <li>SIGs can specialize in smaller sets of packages, keeping focus on target use cases for more fine tuned support</li>
</ul>


<b>* How hard or easy was it to install your distribution?</b>
<ul>
  <li>Fairly easy, gui tools are provided to install and configure the distribution</li>
  <li>Alternate command line interfaces are also available for install w/out graphics</li>
  <li>In addition to the install media, Live CDs are provided to allow users to try Fedora before installing. If they don't like it they don't have to install</li>
  <li>Kickstart and other network installation scenarios are available and easy to use</li>
</ul>


<b>* What are the system management utilities or tools?</b>
<ul>
  <li>system-config-[authentication|boot|firewall|network|...]</li>
  <li>sysvinit interface for services, service specific configs and config tools</li>
  <li>various graphical tools to configure the desktop</li>
</ul>


<b>* Is there some form of package management tool?</b>
<ul>
<li>RPM / Yum / PackageKit</li>
<li>LiveCD creator, LiveUSB creator, Appliance Creator</li>
<li>Revisor / Wevisor</li>
</ul>


<b>* What is the update / upgrade approach?</b>
<ul>
<li>yum update or use graphical tools</li>
<li>To update fedora releases, simply point your OS at the repos for the next release and yum update</li>
</ul>


<b>* To whom would you recommend this distribution?  Why?</b>
<ul>
<li>All Linux users, new and old, many features and tools for novice Linux users and veteran ones as well</li>
</ul>
