---
title: Bringing Android to the Mazes of Menace
date: 2011-07-16
---

<%= image_tag "android_logo.jpg", :style => "float: left; margin-right: 10px; width: 250px; height: 250px;" %> If you have an Android device, make sure to download the '<a href="https://market.android.com/details?id=org.morsi.android.nethack">Nethack Encyclopedia</a>', my first Android app which I released last weekend. I've only just recently have been getting into <a href="http://en.wikipedia.org/wiki/NetHack">Nethack</a> myself, but have been having a blast. I wanted a way to lookup <strike>spoilers</strike> information when I don't have an internet connection (being from Upstate NY I go camping often).

<p>
The app is free and I <a href="https://github.com/movitto/nethack-encyclopedia">released</a> the source code for anyone to modify. If you notice that things are <i>&lt;ahem&gt;</i> less than polished, this is a feature not a bug (I swear!). I came up with a long <a href="https://github.com/movitto/nethack-encyclopedia/blob/master/TODO">TODO</a> list which I'm going to use to drive a community workshop series on open source development @ the <a href="http://sig315.org">Guild</a>. The series will be free for members (a modest fee will be charged to non-members to help support the group) and what I aim to do is develop the app on the spot. Any contributers will get their name in the changelog and I will periodically push updates with contributers code to the Android market. It should be a fun way to develop a geeky open source project in the 'cuse!
</p>

<p>
Be sure to check the <a href="http://sig315.org">SIG blog</a> for more updates and other happenings
</p>
<div style="clear: both"></div>
