---
title: Google Summer of Fedora/Aeolus/Ruby
date: 2012-05-08
tags: gsoc, ruby, isitfedoraruby, fedora
---

<%= image_tag "gsoc2012.png", :style => "width: 730px;" %>

<p>
As some of you may know, Fedora was recently <a href="http://fedoraproject.org/wiki/GSOC_2012">accepted</a>, as a participating organization into the <a href="http://code.google.com/soc/">Google Summer of Code</a>. Shortly after this was announced, <a href="http://fedoraproject.org/wiki/User:Bckurera">Buddhika</a> (our Fedora GSoC Admin and Coordinator) circulated a RFC for projects to improve the Fedora distribution as part of this effort. I submitted a few proposals to mentor myself, and am pleased to say there quite a bit of interest by various students, a few of which are now officially working on the various topics.
</p>

<p>
Specifically <a href="http://samridh90.tumblr.com/">Samridh Srinath</a> will be working on improving the Aeolus user experience on Fedora, implementing various aspect of the command line interface and core API features needed to drive it, and <a href="http://zuhao.me/">Zuhao Wan</a> will be working on a site to highlight and promote the Fedora / Ruby experience, providing a simple one-stop-shop to query for Ruby related packages in Fedora and to assist in the migration process.
</p>

<p>
Unfortunately, not all of the students who applied were able to be accepted into the GSoC due to the limited number of slots we had available. Both <a href="https://fedoraproject.org/wiki/User:Niteshnarayan">Nitesh Narayan</a> and <a href="http://www.blogger.com/profile/11611159664722941876">Furhan Shabir</a> are talented students who submitted strong proposals to work on Aeolus but weren't able to secure the official sponsorship. That being said, both have graciously volunteered to donate some time to assist with the project for which I would like to thank them greatly for.
</p>

<p>
All in all, I'm looking forward to working with these talented students over the course of the summer and beyond. Stay tuned for more updates as the projects progress and the proposals are implemented.
</p>

<p>
Until next time, happy hacking!
</p>
