---
title: Book Review - Altered Carbon
date: 2012-01-01
tags: book review
---

<%= image_tag "altered-carbon.jpg", :style => "float: left; margin-right: 10px; width:210px; height: 350px;" %>Having finished my long trek through <a href="http://en.wikipedia.org/wiki/Anathem">Anathem</a> a little while back, I was left craving for another epic sci-fi tale. Living up to his previous classic, <a href="http://en.wikipedia.org/wiki/Snow_Crash">Snow Crash</a>, Neal Stephenson's Anathem is an amazing thrill-ride, full of intense action, profound philosophy (drawing on thousands of years of mathematics, science, and metaphysics), and overall an unbelievable story. Stephenson is truly a remarkable author, and while he deals with very-deep topics, there is a good chance that anyone will be able to find at least one of his worlds that draws them in. Surprisingly I couldn't get into <a href="http://en.wikipedia.org/wiki/Cryptonomicon">Cryptonomicon</a> when I tried not too long ago, but admittedly I didn't get terribly far into it before I gave up and might have to give it another go. There are plenty of reviews of Anathem online, so I will leave it up to my readers to read more about it through those, but needless to say I highly recommend the novel.

<p>
I ordered two books with relatively good reviews off of Amazon, <a href="http://www.amazon.com/Hyperion-Dan-Simmons/dp/0553283685/ref=sr_1_1?s=books&ie=UTF8&qid=1325428177&sr=1-1">Hyperion</a> (a space opera) and the second being <a href="http://www.amazon.com/Altered-Carbon-Takeshi-Kovacs-Novels/dp/0345457684">Altered Carbon</a> by Richard K Morgan, a nitty gritty <a href="http://en.wikipedia.org/wiki/Cyberpunk">cyberpunk</a> tale similar to Snow Crash. I tried the former first, but again try as I might I could not get into it, so I decided to give Altered Carbon a go, and was very pleasantly surprised.
</p>

<p>
Altered Carbon is the tale of Takeshi Kovacs as he investigates the 'murder' of Laurens Bancroft, a very rich and powerful business magnate in futuristic San Francisco, now called Bay City. By this point in time, actual real deaths are fairly uncommon, as it is a widespread practice to store one's identity, memories, and conscience 'on stack', which is able to be downloaded into temporary bodies known as 'sleeves' at any point in time after. Morgan's vivid and rich imagery paints a world that lives up to any cyberpunk setting portrayed to date, including perhaps the ultimate cyberpunk novel, <a href="http://en.wikipedia.org/wiki/Neuromancer">Neuromancer</a> by William Gibson. Chalk full of concepts such as virtual-realities, technology based augmentations, drug induced psychological and physiological alterations, interstellar travel, conspiring artificial intelligences, oriental philosophy, intense martial arts action, and much more, Kovacs' investigation keeps the reader glued to the edge of his/her seat and makes it hard to put the book down even for a second.
</p>

<p>
The novel is a good read, not so challenging that it will be lost on anyone (unlike Anathem and Snow Crash which are complete mind-benders), but also not too simplistic that it will bore. The chapters are fairly short and to the point, making for a good airplane or subway read, while the overall story fits together and flows nicely. Without spoiling any more, I highly suggest it to anyone that is into the genre, it won't disappoint!
</p>
