---
title: Brno Trip Update
date: 2012-04-27
tags: travel, brno
---

How I've been busy in the past few weeks. Between working, sightseeing, and plenty of other activities, I've had no chance till now to sit down and write some content for the blog. Now that I'm approaching the 1/2 way point of my trip, I have to say I've had a phenominal time so far, my European collegues at Red Hat are a group of extremely talented guys who are also very fun to work and hang out with. I'm enjoying my stay in the <a href="http://en.wikipedia.org/wiki/Czech_Republic">Czech Republic</a>, the people are friendly, there is plenty to do, and overall a pleasant experience. So far my trip over the last few weeks looked like (hover over the images for descriptions, to view full size right click and select 'view image'):

<ul>
<li>April 3rd/4th: Flight from Syracuse to Newark, NJ to Copenhagen, Denmark to Prague, CZ; Caught the train from Prague to <a href="http://en.wikipedia.org/wiki/Brno">Brno</a> (overall about ~24hrs worth of traveling)
</li>
<li>
<img src="http://mo.morsi.org/files/prague/river.jpg" style="width: 300px; height: 300px; float: left; margin-right: 10px; margin-bottom: 10px;" title="A canal in prague" /><img src="http://mo.morsi.org/files/prague/building.jpg" style="width: 300px; height: 300px; float: left; margin-bottom: 10px;" title="A building in prague"  />
<div style="clear: both;"></div>
</li>
<li>Met my coworker <a href="http://aimlesslygoingforward.com/">Tomas</a> at the Brno train station (he's been a momumental help with the entire trip, a very friendly person and extremely talented engineer). Moved into my apartment here
</li>
<li>
<img src="http://mo.morsi.org/files/brno/apt1.jpg" style="width: 300px; height: 300px; float: left; margin-right: 10px; margin-bottom: 10px;" title="My apartment in brno"></img><img src="http://mo.morsi.org/files/brno/apt2.jpg" style="width: 300px; height: 300px; float: left; margin-bottom: 10px;" title="My apartment in brno"></img><div style="clear: both;"></div>
</li>
<li>Thu/Fri April 5th/6th: Started working out of the Brno office, met all the other Aeolus and Ruby developers working out of here (all around the same age as me, another +), found my way around town including using the public transports and grocery shopping
<!--<img src="http://mo.morsi.org/files/brno/office1.jpg" />-->
</li>
<li>
<img src="http://mo.morsi.org/files/brno/office2.jpg" style="width: 300px; height: 300px; float: left; margin-bottom: 10px;" title="The office (after everyone left for the day)"/><div style="clear: both;"></div>
</li>
<li>My first weekend I explored Brno on foot, I saw the historic old town, the <a href="http://en.wikipedia.org/wiki/%C5%A0pilberk_Castle">Spilberk castle</a>, the <a href="http://en.wikipedia.org/wiki/Cathedral_of_St._Peter_and_Paul,_Brno">Cathedral of St. Peter and Paul</a>, and got a general feel for the area. Brno is a great city, a good size, not too large that it feels crowded, but not too small that there is nothing todo. It is a university town though, so lots of students, but has plenty of great places to hang out, grab a bite or drink, or do various activities
</li>
<li>
<img src="http://mo.morsi.org/files/brno/spilberk.jpg" style="width: 300px; height: 300px; float: left; margin-right: 10px; margin-bottom: 10px;" title="Spilberk castle"/><img src="http://mo.morsi.org/files/brno/cathdral.jpg" title="St Peter and Paul Cathedral" style="width: 300px; height: 300px; float: left; margin-right: 10px; margin-bottom: 10px;" /><img src="http://mo.morsi.org/files/brno/fountain.jpg" title="Fountain square in brno" style="width: 300px; height: 300px; float: left; margin-bottom: 10px;" /><!--<img src="http://mo.morsi.org/files/brno/brno.jpg" />--><div style="clear: both;"></div>
</li>
<li>The following week primarily consisted of work (it's refreshing to be back in an office working w/ my collegues in person), and attending Aikido class with my collegues Tomas and Petr, both who regularily go. The Sensai here is a city cop that focuses on practical self defense which is different than the more theoretical appoach Sensai Mehter teaches back in Syracuse. Both are good to practice, though I still prefer the dojo back home.</li>
<li>This week, we also celebrated Red Hat's <a href="http://www.technewsworld.com/story/74788.html">Billion Dollar Bash</a> in the Brno office. The facilities here arrainged a very fun scavenger hunt around the city, which culminated at the <a href="http://www.technicalmuseum.cz/">Brno Museum of Technology</a> right by the RH office. The party there was great, lots of great food and treats, and was good to meet developers and other RH employees working on all sorts of projects @ the company.
</li>
<li>
<img src="http://mo.morsi.org/files/brno/scavengerhunt1.JPG" title="Team aeolus in action!" style="width: 700px; height: 500px; float: left; margin-bottom: 10px;" /><div style="clear: both"></div>
<!--<img src="http://mo.morsi.org/files/brno/scavengerhunt2.jpg" />-->
</li>
<li>I also visited the <a href="http://base48.cz/">Brno Hackerspace, Base48</a> this week, which a few of my collegues are members of. It was great seeing yet another Hackerspace in person, and we all shared plenty of stories of our experiences so far. It seems like they're running into many of the same issues we had w/ the SIG, and I assume many others have had worldwide but overall are doing great and working on some cool projects.</li>
<li>Was thinking about going to <a href="http://en.wikipedia.org/wiki/Prague">Prague</a> or <a href="http://en.wikipedia.org/wiki/Vienna">Vienna</a> on the weekend of the 14th, but ended up just hanging out and relaxing w/ my co-workers after the long week. When I book my flight back from Europe, I'm planning on booking a hotel in Prague for a few days to check out that city.</li>
<li>The next week was more work, on Wed 4/18 I decided to swing a last minute trip to <a href="http://en.wikipedia.org/wiki/Amsterdam">Amsterdam</a> in the Netherlands. I left via overnight train on the night of the 19th and arrived the morning of Friday 4/20/12. Stayed until Sunday evening when I caught another overnight train back (had reserved a bed in a couchette both ways). The whole experience was remarkable, Amsterdam truly is a magical city; a melting-pot of European cultures, there is a happy and laid back atmosphere in the air, and a "clock-work" feel to the city (think of those old antique clocks w/ lots of moving gears). There is just so much to see and do (I suggest exploring it on foot), between the canals and city parks, to the museums, to the restaurants, coffee-shops, and nightlife, Amsterdam has it all, and overall based on first impressions of the big cities I visited, Amsterdam takes the cake. I stayed in a hostel Friday and Saturday nights which was an interesting experience, the people I ended up staying with were all really friendly and nothing sketchy or bad happend, but I'm not sure if I'd want to do it again (similarily while I got lots of sleep on the train, it was a weird feeling having other passengers come and go from the cabin I was staying in in the middle of the night when I was sleeping). Unfortunately Amsterdam is a touristy city though, things are expensive and there are lots of tourist attractions (at several points I noticed a stark constast between the old and the new worlds, like a modern carnival which was operating in the plaze of one of the cities biggest / oldest churches). Also when you get down to it, it is a big city, which I can't ever see myself permenatly living in (I tend to prefer smaller cities, and areas with lots of nature and large state parks within a very short distance). All in all though, the weekend in Amsterdam was a great time, and I would eagerly jump at the opportuninty to visit again
</li>
<li>
<img src="http://mo.morsi.org/files/amsterdam/trainstation.jpg" style="width: 300px; height: 300px; float: left;  margin-right: 10px; margin-bottom: 10px;" title="View from Amsterdam trainstation"></img><img src="http://mo.morsi.org/files/amsterdam/coffeeshop.jpg" style="width: 300px; height: 300px; float: left; margin-right: 10px; margin-bottom: 10px;" title="An amsterdam coffeeshop"/><img src="http://mo.morsi.org/files/amsterdam/cathedral.jpg" style="width: 300px; height: 300px; float: left;  margin-right: 10px; margin-bottom: 10px;" title="A cathedral in amsterdam"/><img src="http://mo.morsi.org/files/amsterdam/canal1.jpg" style="width: 300px; height: 300px; float: left;  margin-right: 10px; margin-bottom: 10px;" title="An Amsterdam canal"/><img src="http://mo.morsi.org/files/amsterdam/canal2.jpg" style="width: 300px; height: 300px; float: left;  margin-right: 10px; margin-bottom: 10px;" title="Another Amsterdam canal"/><img src="http://mo.morsi.org/files/amsterdam/rembranthouse.jpg" style="width: 300px; height: 300px; float: left;  margin-right: 10px; margin-bottom: 10px;" title="Me in Rembrant's Original Art Studio in the Rembrant House in Amsterdam"/><div style="clear: both"></div>
</li>
<li>On Monday of last week the team went go-karting which was a blast followed by dinner :-) One of the best things about the Czech republic is how inexpensive everything is (that is to an American visitor), life is good in the Czech republic :-)
</li>
<li>
<img src="http://mo.morsi.org/files/brno/gokarting1.jpg" style="width: 300px; height: 300px; float: left;  margin-right: 10px; margin-bottom: 10px;" title="Team Aeolus Go-Karting"/><img src="http://mo.morsi.org/files/brno/gokarting2.jpg" style="width: 300px; height: 300px; float: left;  margin-bottom: 10px;" title="Up to no good ;-)"/><div style="clear: both"></div>
</li>
<li>On the following Wednesday, my UK collegue left to fly back home, so saw him off before working. Had a great time hanging out with Martyn over the last few weeks, and it's good to put a face and memories behind an IRC handle. Work in general has been great, have been getting alot done both on the Aeolus and Ruby/Fedora side of things as well as on my side projects. There have been some exciting updates to everything I've been working on, I've pushed new additions to <a href="http://github.com/movitto/snap">Snap</a>, have been working with a few students on now-accepted proposals for the Google Summer of Code (which I am now a mentor of, more on this in the near future), have been learning a great deal as far as security and hardening a Rails application is concerned, and am putting a presentation together for the Brno Ruby Users Group (on <a href="">JSON-RPC</a> and my <a href="http://github.com/movitto/rjr">RJR</a> project), and much more. Look for more details on alot of these in the near future</li>
<li>Also went rock climbing for the first time since high school on Thursday with some co-workers. Was a fun time and a great workout, a good whole body excercise (especially the upper body and shoulders). I'm looking forward to going again and perhaps trying to find a place back in Syracuse that I frequent and improve my technique</a>
<li>Furthmore I went for a long bike ride around the Brno Lake and Reservoir and then <a href="http://en.wikipedia.org/wiki/Slacklining">Slacklining</a> nearby on Sunday with the same co-workers. All in all we ended up biking around 35 Kilometes, and saw <a href="http://en.wikipedia.org/wiki/Veve%C5%99%C3%AD_Castle">Veve Castle</a> in the process, and while our initial attempts on the Slackline weren't all that successful, it was all a great workout and plenty of fun. Definitely more activities that I'm looking forward to doing again when I get the chance (quite possibly this week! :-) ).
</li>
<li>
<img src="http://mo.morsi.org/files/brno/ziplining.jpg" style="width: 400px; height: 500px; float: left;  margin-right: 10px; margin-bottom: 10px;"></img><div style="clear: both"></div>
</li>
</ul>

<p>
All in all so far the trip has been a blast, I've met so many interesting people from many different places. From my collegues who come from all over Europe (the Czech Republic, Slovakia, Hungary, Italy, Russia, the UK, and more), to random people at all the various places I've visited / stayed at, people are genuently friendly and helpful and always willing to swap stories with a foreigner. There are places right out of the movies and yet places which seem unique in their own right and unlike anywhere else. I'm looking forward to the rest of my stay. Besides Prague, I'd like to visit at least one other European city and/or take in some of the country side (I was thinking about renting a car and just driving around the a bit).
</p>

Stay tuned for more updates coming soon! Until then, Chow!
