---
title: Snap! Updates
date: 2012-01-01
tags: snap
---

<%= image_tag "snap.jpg", :style => "float: left; margin-right: 20px; width:200px; height: 200px;" %> Alot of great development on Snap! recently. Here are some updates (see the <a href="https://github.com/movitto/snap/commits/master">commit log</a> for the full list):
  
<ul>
<li>incorporated full test harness</li>
<li>many documentation improvements / fixes</li>
<li>many code cleanups / optimizations</li>
<li>starting adding ability to migrate snapshots between OS's (for example Ubuntu to Fedora and vice-versa)</li>
<li>pushed snap into Fedora! (simply install via 'yum install snap' on Fedora15+ and RHEL6, should be pushed into Debian / Ubuntu soon)</li>
</ul>

<p>
Stay tuned for more updates!
</p>
