---
title: The Art of Aikido
date: 2012-09-19
---

<%= image_tag "logo.jpg", :style => "float: right; margin-left: 10px;" %>

<p>
Recently our Sensai sent out an email to the members of our <a href="http://www.facebook.com/AikidoofCNY">dojo</a> requesting submissions for articles to include in the Fall Newsletter. I've been meaning to write a bit about the sport I love and figured this would be the perfect opportunity and venue to do so.
</p>

<p>
To step back a bit, <a href="http://en.wikipedia.org/wiki/Aikido">Aikido</a> is not only a sport, but also a way of life. Aikido literally means the unification (ai) of the spirit (ki, energy) with the way or path (do). Based on principles of simple physics and mechanics to redirect and use an attacker's force against them, Aikido is the culmination of millenia of human warfare refined to the point where the a practitioner (called an Aikido-ka) learns the optimal placement of one's body, mind, and spirit so as to diffuse an attack and neutralize the enemy. As part of this, one of the prominent lessons learnt by an Aikido-Ka is self control. One must be aware of and in control on one's body and mind at all times to anticipate and affect the course of actions. Only through this continual awareness and relaxation, one can free the body and mind to the point which actions and reactions can occur instantly and with optimal efficiency.
</p>

<p>
As in the dojo one must be aware at all times to fully appreciate and confront life. While the traditional Japanese saying goes "Cry in the Dojo, Laugh on the Battlefield", many of us are fortunately to live in an age and part of the world where we do not have to face an enemy in combat. Regardless, we as humans still have to content with a continuous battle against our own selves. Our own psyches play against us on a continual basis, fuelling the emotions and feelings that drive the human experience, both the ups and downs, the good times and times of sorrow and anger. It is often too easy to get wrapped up in all this and feel lost / without control, some people living their whole lives this way.
</p>

<p>
Fortunately the exact same mental training practised by an Aikido-ka to control one's mind and body can be applied to one's self in any situation. By being constantly aware of who we are and what we are feeling, one can continuously examine one's self and alter his/her mental state to the point they desire at any time. With enough practice this becomes completely natural, a hair trigger reaction, whenever one starts feeling anxious or sad, one can train him/herself to completely relax be aware of their current state of being and not let the trivialities of our lives get in the way of the magnificence of existence. After all the human experience is just that, perceived mental interpretations of limited sensory inputs in a universe that is incomprehensible by our standards. Only by freeing the mind can one grasp the true potential of human existence.
</p>

<p>
Another central concept to master while studying the Art of Aikido, is that of infinity. If such a concept can even be grasped at all! When an attack is launched or received, whether deflected, countered, or neutralized, the Aikido-ka must let his or her energy flow from their center to infinity. If one tries to refrain and hold back or stop the reaction and the natural movement, even for a split second, the attacker can and will gain the advantage. When practiced correctly, there will be no possibility of a counter or resistance. The technique will proceed along the most efficient mathematical path through which all the opponents energy will be redirected to where they have no support and balance, using gravity, leverage, and the Aikido-ka's core / center of strength to drive the counter.
</p>

<p>
Likewise outside the dojo one must try to continuously expand one's conciousness beyond our limited human perceptions towards infinity.At any given moment we as humans are experiencing only an infestisimle amount of what there is to experience. Furthermore, many people are so lost in their thoughts that they don't take the time to experience every moment in its fullest, taking in the vast amount of energy and signals which we are experiencing at any given time. Even at this very moment you are absorbing light, subconsciously interpreting the many audio clues from the environment around you, even every-continuously adjusting your position due to gravity and friction in minute ways. All forms of energy interact with each other no matter how big or small, and after all all matter is energy! (just moving very slow, E=MC^2).
</p>

<p>
This brings us back to the the Ki (energy) in Aikido. By unifying one's energy with one's path, one can harmonize and balance their life and by mental training one can begin to detach themselves from the little/trivial things that consume so many peoples lives. That is not to say to not enjoy life pleasures. But everything should be viewed in the scope of what it really is and one should not get too wrapped up over anything. I very much enjoy the Martial Art of Aikido, and am planning to continue training as long as I can. I encourage anyone who might be interested to find a dojo around them, there are many great schools all over the world! Until next time, onigashimas!
</p>
