---
title: Book Review - Otherland Volumes 1-4 
date: 2012-12-26
tags: book review
---

<img src="http://upload.wikimedia.org/wikipedia/en/thumb/0/05/TadWilliams_Otherland1.jpg/200px-TadWilliams_Otherland1.jpg" style="float: left; margin-right: 10px" />

<p>
<b>*warning: plot spoilers below*</b>. Imagine yourself in the trenches of WWI. The next chapter you're in Ancient Egypt, then in Troy. A little while later you've gone through the land of the bugs, dark/twisted versions of the Worlds of Oz and Wonderland, and many more. Of course this is before you arrive at the heart of the universe itself, where the basic rules of reality no longer apply.
</p>

<p>
<img src="http://upload.wikimedia.org/wikipedia/en/thumb/e/e8/Otherland2.png/200px-Otherland2.png" style="float: right;  margin-left: 10px" />
The nice thing about Tad William's <a href="http://en.wikipedia.org/wiki/Otherland">Otherland</a> series, which takes place in the Otherland virtual reality network, is that he takes great liberties in his artistic vision. Otherland doesn't conform to the rules of many other artificial realities portrayed in fiction that try to preserve a consistency in their environments, rather is was built by a secret cabal of the most powerful people in the world to serve their nefarious purposes, each of which has a completely different vision of their utopia.
</p>

<p>
At first I was a little apprehensive about the last bit, in general I'm not a big fan of stories with a huge super-secret organization that runs the show, but progressing through the series it began to grow on me. Most of the main protagonists in the story start off as simple peons in the big picture, stuck in the simulation network, unable to leave, narrating the chaotic events unfolding around them. As the story progresses, the roles of the protagonists and antagonists become more apparent, but these mostly arise as artifacts of their characters, it is just who they are and often the random luck of their circumstances that results in their impact on the story.
</p>

<p>
There are exceptions to this, one of the most interesting characters is the dark serial killer knows as Dread, who is employed by the leader of the Grail Brotherhood (those that built and are running the network) to act as an assassin in both the real and virtual worlds to meet their goals. Of course things aren't as simple as they seem as Dread has perverse ambitions of his own, and seeks to control the very thing which his masters built to rule the world.
<img src="http://upload.wikimedia.org/wikipedia/en/thumb/5/5b/Mountain_of_Black_Glass.jpg/200px-Mountain_of_Black_Glass.jpg" style="float: left;  margin-right: 10px" />
</p>


<p>
Furthermore Felix Jongleur, the worlds richest man and leader of the grail brotherhood, proves to be quite interesting as well. While a bit on the cliche side his ruthless quest for immortality at any cost sets up and drives the events of the series and as they unfold around him, whether to his liking or not, and serve as many of the focal points of the epic. If you do start the series, make sure to commit yourself to reading to the end (it consists of four rather lengthy novels) as while it starts off slow, the ultimate fate of these two characters alone are so vivid that I suspect they will linger in memory for a while.
<img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/71/Sea_silver_light.jpg/200px-Sea_silver_light.jpg" style="float: right;  margin-left: 10px" />
</p>

<p>
At the heart of the series, the network, and namesake of the books is the Other itself, the semi-sentient AI serving as the Operating System driving the virtual reality. The story of the Other when fully revealed is a very sad one, and there is no happy conclusion for this being, though there is some vindication with the fate of Nemesis, an <a href="http://en.wikipedia.org/wiki/Artificial_life">ALife</a> entity which the Other creates to quash anomalies in the network. I feel that in itself is enough reason to read the series, while many of the protagonists manage to escape the network and achieve their goals, it's no happy-hollywood ending. Rather there are many deaths and fates far-far worse, and as events unfold no character manages to escape the network unscathed, having to bear their experiences for the rest of their life. For some characters its worse than others, those with abilities which permit them some control over the network quickly find those abilities turn on them and they become more of a curse than a blessing. It is a bit of a tale in irony as nothing is ever what it seems, and while Williams often reveals the basic facts that setup for the awesome conclusion as the reader goes along, it isn't until the very end that all the pieces fall into place and the final puzzle is solved. 
</p>

<p>
The series is an epic in every sense of the word, and in some senses it can be seen as a meta-epic, as other previously established epics such as the Odyssey and the Lord of the Rings are folded into the mix as characters go through those worlds, though often with a dark twist. I very much recommend the series to any sci-fi fan, the last book is so compelling I could not put it down (read the 900 page novel in a little under a week!) and I consider it to be one of my top three favourites of all time.
</p>

Until next time, happy dreams!
<div style="clear: both" ></div>
<!--break-->
