---
title: isitfedoraruby updates
date: 2012-12-19
tags: google code in, isitfedoraruby, fedora
---

<%= image_tag "Fedora_Ruby_Logo1b.png", :style => "display: block; margin-left: auto; margin-right: auto" %>

<p>
As a follow up to the <a href="http://code.google.com/soc/">GSOC</A>, I've been mentoring several talented high school students from around the world who have been adding many cool new features and functionality to the <a href="http://isitfedoraruby.com">isitfedoraruby</a> webapp as part of the <a href="http://code.google.com/opensource/gci/2012/index.html">GCI</a> contest. They have been doing a phenominal job on the site and an update sharing their work is long over due!
</p>

<p>
<ul>
<li><a href="http://codedemons.blogspot.com.ar/">Nico</a> (from Argentina) has deployed the site to <a href="https://openshift.redhat.com/">openshift</a>, wrote scripts to syncronize the db on a daily basis, automated the production push process (whenever we merge our commits into the 'stable' branch on github, the site automatically gets updated), is working on i18n internationalization support, and much more</li>
<li><a href="http://kendhia.blogspot.com">Kendhia</a> (from Algeria) has been working on features involving 'gamification', eg importing the contributors that maintain fedora packages, and displaying that data in visually appealing manners (including <a href="http://www.isitfedoraruby.com/fedorarpms/mmorsi/badge">badges</a>!)</li>
<li>Mark (from Honolulu, Hawaii) has been working on adding more visualizations to the site, most notably graphically representing the packages a contributor maintains using d3.js <a href="http://www.isitfedoraruby.com/stats/mmorsi/user_rpms">here</a>. Mark also designed a logo for the fedora-ruby sig, which can be seen above.</li>
<li>Animesh (from New Delhi, India) implemented a <a href="http://www.isitfedoraruby.com/stats/rubygem-activesupport/timeline">timeline</a> of contributions, so we can see a summary of all updates, both on the rubygems side and those in Fedora. He also <a href="https://google-melange.appspot.com/gci/work/download/google/gci2012/7982225?id=6001">wrote up</a> and made a <a href="http://vimeo.com/54533981">screencast</a> of a great guide on how to get a simple hello world rails app up and running on the Fedora/Ruby stack.</li>
</ul>
</p>

<p>
We aim to keep driving the site forward, now that we've automated the push and syncronization process, getting new features into production should be very trivial. I'd like to thank the talented students for all their hard work and really look forward to continuing to work with them in the future!
</p>
