---
title: When in Rome...
date: 2012-05-26
tags: rome, europe, travel
---

<p>
Am wrapping up my European trip and am planning on being back in the States at the end of next week. Earlier on this week, my mother (who came for a visit) and I traveled to <a href="http://en.wikipedia.org/wiki/Rome">Rome, Italy</a> to see the city (hover over images for descriptions, right click and then select 'view image' for the full size)
</p>

<ul>
<li>On Sunday 05/20 we flew out of Brno, a direct flight to Rome Fiuminco Airport. We arrived pretty late so ended up only going to the hotel and crashing</li>

<li>The next day was the <a href="http://en.wikipedia.org/wiki/Colosseum">Colosseum</a>, <a href="http://en.wikipedia.org/wiki/Palatine_Hill">Palatine Hill</a> and the <a href="http://en.wikipedia.org/wiki/Roman_Forum">Roman Forum</a>, the <a href="http://en.wikipedia.org/wiki/Santa_Maria_sopra_Minerva">Basilica of Saint Maria sopra Minerva</a>, the <a href="http://en.wikipedia.org/wiki/Pantheon,_Rome">Pantheon</a>, <a href="http://en.wikipedia.org/wiki/Piazza_Navona">Piazza Navona</a>, and <a href="http://en.wikipedia.org/wiki/Trevi_Fountain">Trevi Fountain</a>. Needless to say we were quite exhausted from all the walking at the end of the day :-)
</li>

<li>
<img src="http://mo.morsi.org/files/rome/colosseum1.jpg" title="colosseum 1" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/colosseum2.jpg" title="colosseum 2" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/colosseum3.jpg" title="colosseum 3" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/palatine-hill1.jpg" title="palatine hill 1" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/palatine-hill2.jpg" title="palatine hill 2" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/roman-forum1.jpg" title="roman forum" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/pantheon1.jpg" title="pantheon 1" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/pantheon2.jpg" title="pantheon 2" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/trevi-fountain1.jpg" title="trevi fountain" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
</li>

<li>The following morning was the National Museum of Rome and the rest of the day was spent at <a href="http://en.wikipedia.org/wiki/Vatican_City">Vatican City</a>. I have to say I have never seen a collection of artwork quite as impressive as that at the <a href="http://en.wikipedia.org/wiki/Vatican_Museums">Vatican Museum</a>. Not only that but all in all it is over 9 miles of artwork (yes 9 miles)! All in all, while unbelievably impressive (especially the <a href="http://en.wikipedia.org/wiki/Raphael_Rooms">Raphael Rooms</a>) it was a bit much, towards the end the grandour had not faded (actually quite the opposite) but I was completely museumed out, and couldn't process any more.  We also visited <a href="http://en.wikipedia.org/wiki/St._Peter%27s_Basilica">Saint Peters Bascillica</a> and several other grand cathedral's during the course of the day.
</li>

<li>
<img src="http://mo.morsi.org/files/rome/national-museum-at-rome1.jpg" title="national museum at rome 1" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/national-museum-at-rome2.jpg" title="national museum at rome 2" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/vatican-city1.jpg" title="vatican city 1" style="float: left; margin-left: 5px; width: 250px;; height: 250px;" /><img src="http://mo.morsi.org/files/rome/vatican-city2.jpg" title="vatican city 2" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/vatican-museum1.jpg" title="vatican museum 1" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/vatican-museum2.jpg" title="vatican museum 2" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/vatican-museum3.jpg" title="vatican museum 3" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/vatican-museum4.jpg" title="vatican museum 4" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
<img src="http://mo.morsi.org/files/rome/vatican-museum5.jpg" title="vatican museum 5" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/vatican-museum6.jpg" title="vatican museum 6" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
</li>

<li>On our third day, Wednesday we got a great view of the city from the <a href="http://en.wikipedia.org/wiki/Villa_Borghese_gardens">Villa Borgese Gardens</a>, walked down the <a href="http://en.wikipedia.org/wiki/Spanish_Steps">Spanish Steps</a> and then got another panaramic view from the vista atop of <a href="http://en.wikipedia.org/wiki/Altare_della_Patria">Victor Emmanuel's monument</a>. We were pretty much Romed out by this point so besides visiting the <a href="http://en.wikipedia.org/wiki/Baths_of_Diocletian">Baths of Diocletian</a> on Thursday before our flight back we took it easy for our remaining time there.</li>
</li>

<li>
<img src="http://mo.morsi.org/files/rome/rome-skyline.jpg" title="rome skyline" style="float: left; margin-left: 5px; width: 250px; height: 250px;" /><img src="http://mo.morsi.org/files/rome/random-church1.jpg" title="forgot the name of this cathedral :-)" style="float: left; margin-left: 5px; width: 250px; height: 250px;" />
<div style="clear: both;"></div>
</ul>

<p>
All in all the word I feel that best describes the city is "Epic", so many times when rounding a corner when wandering through the city we were facing something incredibly grand and ancient. To any prospective tourists I have a few bits of advice, first off make sure to pace yourself, there is alot too see (no way you are going to cover everything) and you don't want to get burnt out early on. Also I highly recommend taking tours, both the paid tour guide at the Colloseum / Palentine Hill / Roman Forum and the audio tour at the Vatican Museum was well worth it. And lastly / most importantly make sure to enjoy some italian pizza and pasta when your visiting! :-)
</p>

<p>
Thats all for now, in less than a week I'll be back in the good ole' US of A. Until next time, ciao!
</p>
