---
title: Forthcoming - MRI Ruby 1.9 in Fedora
date: 2012-01-03
---

<%= image_tag "Application-x-ruby.png", :style => "float: right; margin-left: 10px; width: px; height: px;" %>The <a href="http://fedoraproject.org/wiki/Ruby_SIG">Fedora Ruby SIG</a> is in the process of updating the main Ruby package in Fedora to Ruby 1.9. We hope to get it in by Fedora 17, while shipping a Ruby 1.8 compatability package for those who wish to continue using the older version (though more and more upstream projects are phasing this out). Alternatively, since JRuby is <a href="http://mo.morsi.org/blog/node/340">now in Fedora</a>, end-users may opt to utilize that interpreter for both Ruby 1.8 and 1.9 support.

<p>
The Ruby 1.9 effort is being led by <a href="http://fedoraproject.org/wiki/User:Vondruch">Vit Ondruch</a> who has done alot of the packaging work and submitted the initial guidelines draft, which we are currently discussing/revising on <a href="http://lists.fedoraproject.org/pipermail/ruby-sig/2011-December/thread.html">the mailing lists</a>. They are largely an extension of the existing guidelines to better nail things down and cover various issues that have come up over the years, but all are welcome to join the discussion and share their comments / opinions on the best way to move forward.
</p>

<p>
A Ruby 1.9.3 testing <a href="http://vondruch.fedorapeople.org/ruby_1.9.3.repo">repository</a> has been setup for those who wish to try the new packages out. Feel free to share any feedback or issues on list.
</p>
