---
title: Fudcon Blacksburg Report
date: 2012-01-16
---

<%= image_tag "Fudcon_blacksburg_withdate.png", :style => "float: right; margin-left: 10px" %>Just got back from <a href="http://fedoraproject.org/wiki/FUDCon:Blacksburg_2012">Fudcon Blacksburg</a>. As always, it was a great time. Arrived after driving down (10 hrs) Thursday evening and crashed quickly after checking into my accommodations (The Inn at Virginia Tech). Friday, the first day, was hackfests, I attended the Fedora Infrastructure meeting and held a few sessions around Aeolus where I talked with passer by's about the project, my Snap subproject and what people were looking for out of an open source IaaS cloud abstraction platform. Specifically at FUDCon I aimed to find out how people wanted to interface w/ the cloud on the Fedora desktop and how they wanted to use the Aeolus stack. We ended up modifying Snap a little to add some command line options and began
messing around w/ <a href="http://github.com/movitto/mycloud">mycloud</a> a c level cloud computing API I started throwing together to meet people's needs. Dinner that night was at a good indian place.

<p>
The second day was the barcamp sessions, I volunteered to do another session on Aeolus, which went well, there were plenty of newcomers interested in the projects and I was able to share what was in development and upcoming things on the platform. After lunch several of us from the <a href="">ruby-sig</a> met to hold the now traditional ruby-sig meeting at FUDCon (we held one in Toronto, one was held in Milan, and now this was the third at Blacksburg). We got alot done including:
</p>

  <ul>
    <li>tested out the new Ruby 1.9.3 repository (messed around w/ getting Aeolus working on MRI 1.9.3)</li>
    <li>discussed updates to the new packaging guidelines, and updates to the the ruby stack</li>
    <li>looked into possibly using macros to assist w/ building gems for multiple ruby interpreters on Fedora (jeroen volunteered to start investigating thing one, this would be a feature coming furthur down the pipeline)</li>
    <li>discussed the rvm / bundler ecosystems, and again how to drive and market the Fedora philosophy of a single supported stack while delivering the ultimate development platform for the ruby-community</li>
    <li>looked into continuing building tools and applications which to enhance the Ruby experience on Fedora, I volunteered to build a isitfedoraruby website (akin to <a href="http://isitruby19.org">itisruby19.org</a>) to demo and highlight fedora on ruby and to start reaching out to the cloud-sig and other Fedora communities to promote and highlight the product/platform.</li>
    <li>continuing to extend / expand / improve gem2rpm, polisher, and other gem/rpm interoperability tools</li>
  </ul>

<p>
Next I attended the session on OpenStack, a popular build-your-own-cloud platform (one of the platforms supported by deltacloud) and learned a bit more about the internals and how it is constructed. Finally the lightning talks session was the last on Saturday, and a must for any FUDCon attendee. There were many pitches, including several for new fedora components including hosted instances of mock infra apps, a discussion on what motivates and how to drive open source contributions, a demonstration on how to inject code into running Python processes using "parasite" by lmacken, an overview of foss@rit by remmy dekaukusburg and the narcissus web visualizations by ralph bean. I ended up pitching mycloud and snap again as well as my own <a href="">Nethack Encyclopedia</a> project, inviting fellow explorers of the mazes of menace to bring the guide :-)
</p>

<p>
FUDPub was fun, as always a good time, featuring bowling and lots of tastey food and held at the Blacksburg student center this time around.
</p>

<p>
I'm writing this from my hotel room Sunday morning as I pack up and prepare for the 10hr drive hack. Overall a great time, have plenty to keep me busy going forward, and am looking forward to the next FUDCon!
</p>
