---
title: HOPE X Lightning Track
date: 2014-07-26
tags: hopex, conferences
---

<%= image_tag("hopex_icon_192x192.png", :style => "float: left; margin-right: 10px") %>

<p>
Planning to be in <a href="http://en.wikipedia.org/wiki/New_York_City">the city</a> this weekend? Want to give a short presentation at one of the world's biggest <a href="http://en.wikipedia.org/wiki/Hacker_%28term%29">hacker/maker</a> conferences? I'm helping organize the Lightning Talks Track at this year's <a href="http://hope.net/">HOPE X</a>. All are welcome to present, topics can be on anything relevant / interesting.
</p>

<p>
If you're interested simply <a href="mailto:mo@morsi.org">email</a> me or add yourself to the <a href="http://wiki.hope.net/wiki/Lightning_Talks">wiki page</a> and we'll be in touch with more information. Even if you don't want to give a talk, I encourage you to checkout the <a href="http://hope.net/schedule.html">conf schedule</a>, it's looking to be a great lineup!
</p>

<p>
Happy hacking!
</p>

<div style="clear: both;" ></div>
<br/>

<p>
<b>***update 07-26***</b>: Conference was great and talks were awesome.
</p>

<p>
Besides a few logistical glitches, all went well. The final speaker / presentation lineup can be seen on the <a href="http://wiki.hope.net/wiki/Lightning_Talks_Final">HOPE Wiki</a> (also attached below). Many thanks to all that participated!
</p>

Friday:
<ul>
<li> <a rel="nofollow" class="external text" href="http://tommycollison.com/">Tommy Collison</a> - <a rel="nofollow" class="external text" href="http://www.studentsagainstsurveillance.com/">Students Against Surveillance</a>
</li>
<li> <a rel="nofollow" class="external text" href="http://www.drapervc.com/team">Joel Yarmon</a> - Seed Venture Capital: What I do &amp; What I'm looking for in 5 min or less 
</li>
<li> <a rel="nofollow" class="external text" href="http://en.wikipedia.org/wiki/Zooko_Wilcox-O%27Hearn">Zooko Wilcox-O'Hearn</a> - <a rel="nofollow" class="external text" href="http://morsi.org/hopex/zooko-wilcox-ohearn-tahoe-lafs/#1">Tahoe-LAFS</a>
</li>
<li> <a rel="nofollow" class="external text" href="http://mo.morsi.org/">Mo Morsi</a> - <a rel="nofollow" class="external text" href="https://github.com/movitto/omega">Omega</a>: A Universe Over IP
</li>
<li> <a rel="nofollow" class="external text" href="http://blogs.computerworld.com/user/michael-horowitz">Michael Horowitz</a> - <a rel="nofollow" class="external text" href="http://blogs.computerworld.com/mobile-security/24073/comcast-xfinity-wifi-just-say-no">Comcasts Xfinity Wifi Security</a>
</li>
<li> MC McGrath - <a rel="nofollow" class="external text" href="http://transparencytoolkit.org/">Tools for the Sousveillance State</a>
</li>
<li> <a rel="nofollow" class="external text" href="https://filippo.io/">Filippo Valsorda</a> - <a rel="nofollow" class="external text" href="http://ar.chiv.io">ar.chiv.io</a>: don't lose your (browsing) history 
</li>
<li> <a rel="nofollow" class="external text" href="http://surgery.arizona.edu/faculty-profile/nicholas-giovinco-dpm">Dr. Nicholas A. Giovinco</a> - 3D printing of anatomic surgical practice models
</li>
<li> Jim Whitescarver - <a rel="nofollow" class="external text" href="http://wikiworld.com/wiki/index.php/HomePage">WikiWorld</a>: augmented reality, freedom is now.
</li>
<li> Stephanie Losi - Bridging the Language Gap: Get Everyone Coding
</li>
<li> Steve Revilak - The Pirate Party: Hacking Politics 
</li>
<li> <a rel="nofollow" class="external text" href="http://www.kobb.bz/">Benn Kobb</a> - The FCC's New 3.5 GHz CB Radio Service 
</li>
<li> L. Amber Wilcox-O'Hearn - Protecting the Authenticity, Availability, and Integrity of your Brain 
</li>
<li> Matt Singleton - <a rel="nofollow" class="external text" href="https://www.dropbox.com/s/svokn0wqben08tg/trust_anti-patterns.pdf">Trust Anti-patterns</a>
</li>
<li> Christopher Clark - <a rel="nofollow" class="external text" href="http://Phant.io">Phant.io</a>: Running the Internet of Things entirely on the things
</li>
<li> <a rel="nofollow" class="external text" href="https://twitter.com/erika_owens">Erica Owens</a> - <a rel="nofollow" class="external text" href="http://opennews.org/fellowships/">Knight-Mozilla Fellowship</a>
</li>
<li> Leena - Ivory Tower Acadamia
</li>
<li> Joanah - Surveillance and Madness
</li>
<li> Tammi - Social Engineering In the Workplace - Improving Patient Outcomes
</li>
<li> Jamie Klinger - <a rel="nofollow" class="external text" href="http://joatu.com/">JoatU</a>&#160;: Community Marketplace &amp; Local Benevolence Currency Generator
</li>
</ul>

Saturday:
<ul>
<li> Evan Light - Telecom is Dead: The Handheld Autonomy Project
</li>
<li> <a rel="nofollow" class="external text" href="http://vakula.eu/blog/mfps/">Matej Vakula</a> - <a rel="nofollow" class="external text" href="http://morsi.org/hopex/vakula-manuals_for_public_space.pdf">Manuals for Public Space / Open Source Public Space</a>
</li>
<li> <a rel="nofollow" class="external text" href="https://github.com/chris-barry">Chris Barry</a> and <a rel="nofollow" class="external text" href="https://github.com/colinmahns">Colin Mahns</a> - <a rel="nofollow" class="external text" href="http://morsi.org/hopex/mahns_barry-darkweb-everywhere.pdf">Darkweb-Everywhere</a> <a rel="nofollow" class="external text" href="https://github.com/chris-barry/darkweb-everywhere">project</a>
</li>
<li> Kenji Larsen - Trust and Complexity
</li>
<li> <a rel="nofollow" class="external text" href="http://discuss.restorethe4th.com/users/alexmarthews/activity">Alex Marthews</a> - <a rel="nofollow" class="external text" href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=2412564">How did the Snowden revelations change search engine behavior?</a>
</li>
<li> <a rel="nofollow" class="external text" href="https://www.lumiere.net/~mrdavid/contact.txt">David Stainton</a> - Operational security practices for international travel using Tahoe-LAFS 
</li>
<li> <a rel="nofollow" class="external text" href="http://www.michaelnirenberg.org/">Michael Lee Nirenberg</a> - History of Computer Hacking Documentary 
</li>
<li> sixtywatt - <a rel="nofollow" class="external text" href="http://morsi.org/hopex/sixtywatt-etherium.pdf">Ethereum</a>: decentralized application platform using the Ether crypto-fuel
</li>
<li> <a href="/wiki/User:Edryan" title="User:Edryan">Ed Ryan</a> - Tethering over FCC complaints
</li>
<li> <a rel="nofollow" class="external text" href="http://www.pimios.com/about-us">Nick Anthony</a> - <a rel="nofollow" class="external text" href="http://morsi.org/hopex/nick_anthony-homegrown_counterveillance.pdf">Homegrown Counterveillance</a>
</li>
<li> David Geib - <a rel="nofollow" class="external text" href="https://github.com/zrm/snow">snow</a>: how address independence gets you transparent end-to-end encryption and NAT traversal, even for existing applications
</li>
<li> topkek - Hackerspace Arcade Nightclub / Transhumanist Think Tank
</li>
<li> Rich Jones - <a rel="nofollow" class="external text" href="http://fosscad.org/fc/">FOSSCAD</a>
</li>
<li> Deepgeek - Retroresponse to cell phone tracking
</li>
<li> Isaac Meadows - The <a rel="nofollow" class="external text" href="http://en.wikipedia.org/wiki/CAN_bus">CANbus</a> protocol
</li>
<li> Kevin Panko - Saying Yes
</li>
<li> Daniel - BTSP - BitTalk Social Protocol
</li>
</ul>
