---
title: CloudForms v2 MiQ DB - 08/2015
date: 2015-09-15
tags: miq, db
---

<div style="text-align: center">
  <%= link_to image_tag("cfme_db_0.png", :style=> "width: 90%"), image_path("cfme_db_0.png") %>
</div>

<p>
Now that's a db! Created using <a href="http://dia-installer.de/">Dia</a>.
</p>

<p>
Relevant table reference / listing can be found <a href="http://talk.manageiq.org/t/manageiq-database-layout/895">here</a>
</p>

Modeling is the first step towards Optimization.
