---
title: Nethack Encyclopedia Reduxd
date: 2016-05-12
tags: nethack, android, gaming
---

<p>
I've been working on way too many projects recently... Alas, I was able to slip in some time to update the <a href="https://play.google.com/store/apps/details?id=org.morsi.android.nethack.redux">NetHack Encyclopedia</a> app on the Android MarketPlace (first released nearly <a href="http://mo.morsi.org/blog/node/349">5 years ago</a>!).
</p>

<p>
Version 5.3 brings several features including new useful tools. The first is the <b>Message Searcher</b> that allows the user to quickly query the many cryptic game messages by substring & context. Additionally the <b>Game Tracker</b> has been implemented, faciliting player, item, and level identification in a persistant manner. Simply enter entity attributes as they are discovered and the tracker will deduce the remaining missing information based on its internal alogrithm. This is ontop of many enhancements to the backend including the incorporation of a searchable item database.
</p>

<p>
The logic of the application has been highly refactored & cleaned up, the code has come along ways since first being written. In large, I feel pretty comfortable with the Android platform at the current time, it has its nuances, but all platorms do, and it's pretty easy to go from concept to implementation.
</p>

<p>
As far as the <a href="http://thegreatestgameyouwilleverplay.com/">game</a> itself, I have a ways to go before retrieving the <a href="https://nethackwiki.com/wiki/Amulet_of_Yendor">Amulet</a>! It's quite a challenge, but you learn with every replay, and thus you get closer. Ascension will be mine! (someday)
</p>

<%= link_to image_tag("nethack-5.3-screen1.png", :style => "float: left; padding-right: 20px; width: 100px; height: 200px;"), image_path("nethack-5.3-screen1.png") %>
<%= link_to image_tag("nethack-5.3-screen2.png", :style => "float: left; padding-right: 20px; width: 100px; height: 200px;"), image_path("nethack-5.3-screen2.png") %>
<%= link_to image_tag("nethack-5.3-screen3.png", :style => "float: left; padding-right: 20px; width: 100px; height: 200px;"), image_path("nethack-5.3-screen3.png") %>
<%= link_to image_tag("nethack-5.3-screen4.png", :style => "float: left; padding-right: 20px; width: 100px; height: 200px;"), image_path("nethack-5.3-screen4.png") %>
<div style="clear: both;"></div>
