---
title: Project Idea - PI Sw1tch
date: 2017-02-18
tags: project, raspberry pi, gaming
---

<p>While gaming is not high on my agenda anymore (... or rather <i>at all</i>), I have recently been mulling buying a new console, to act as much as a home entertainment center as a gaming system.</p>

<p>Having owned several generations <a href="https://www.playstation.com/en-us/">PlayStation</a> and <a href="http://www.sega.com/">Sega</a> products, a few new consoles caught my eye. While the most "open" solution, the <a href="http://store.steampowered.com/hardware/">Steambox</a> sort-of <a href="https://arstechnica.com/gaming/2016/06/its-time-to-declare-valves-steam-machines-doa/">fizzled out</a>, Nintendo's latest console <a href="https://en.wikipedia.org/wiki/Nintendo_Switch">Switch</a> does seem to stand out of the crowd. The balance between power and portability looks like a good fit, and given Nintendo's previous successes, it wouldn't be surprising if it became a hit.</p>

<p>In addition to the separate home and mobile gaming markets, new entertainment mechanisms are needing to provide seamless integration between the two environments, as well as offer comprehensive data and information access capabilities. After all what'd be the point of a gaming tablet if you couldn't watch Youtube on it! <a href="http://www.nealstephenson.com/">Neal Stephenson</a> recently touched on this at his latest <a href="https://techcrunch.com/2016/09/13/neal-stephenson-disrupt/">TechCrunch talk</a>, by expressing a vision of technology that is more integrated/synergized with our immediate environment. While mobile solutions these days offer a lot in terms of processing power, nothing quite offers the comfort or immersion that a console / home entertainment solution provides (not to mention mobile phones being horrendous interfaces for gaming purposes!)</p>

<p>Being the geek that I am, this naturally led me to thinking about developing a hybrid mechanism of my own, based on open / existing solutions, so that it could be prototyped and demonstrated quickly. Having recently bought a <a href="https://www.raspberrypi.org/">Raspeberry PI</a> (after putting my Arduino to use in my last <a href="http://mo.morsi.org/blog/node/391">microcontroller</a> project), and a few other odds and end pieces, I whipped up the following:</p>

<%= link_to image_tag("pi_sw1tch.png", :width=>"50%"), image_path("pi_sw1tch.png")  %>

<p>The idea is simple, the Raspberry PI would act as the 'console', with a plethora of games and 'apps' available (via open repositories, steam, emulators, and many more... not to mention <a href="http://thegreatestgameyouwilleverplay.com/">Nethack</a>!). It would be anchorable to the wall, desk, or any other surface by using a 3D-printed mount, and made portable via a cheap wireless controller / LCD display / battery pack setup (tied together through another custom 3D printed bracket). The entire rig would be quickly assemblable and easy to use, simply snap the PI into the wall to play on your TV; remove and snap into the controller bracket to take it on the go.</p>

<p>I suspect the power component is going to be the most difficult to nail down, finding an affordable USB power source that is lightweight but offers sufficient juice to drive the Raspberry PI w/ LCD might be tricky. But if this is done correctly, all components will be interchangeable, and one can easily plug in a lower-power microcontroller and/or custom hardware component for a tailored experience.</p>

<p>If there is any interest, let me know via email. If 3 or so people commit, this could be done in a weekend! (stay tuned for updates!)</p>
