---

title: IBM To Buy RedHat &amp; Dev Null Update
date: 2018-10-30 00:51 UTC
tags: 

---

<p>
For the record I had no idea about the acquisition when I left RedHat last spring (I was merely a peon Software Engineer during my tenure there!). But I'll just leave this one here:
</p>

<%= image_tag "rht-journey.png", :style => "width: 90%" %>

<p>
In other news, Dev Null is going good, the product has more or less stabilized, we're hitting up conferences all over the country to promote it, and it's gaining some traction with the XRP community on <a href="http://twitter.com/DevNullProd">social media</a>. There's still along ways to go to see <a href="http://wipple.devnull.network">Wipple</a> reach full fruition but I'm excited by the progress and eager to continue driving development.
</p>

<p>
That's all for now, I have a laundry list of topics which I'd like to blog about but until I get some time to do so, they will have to stay on the backburner!
</p>

<%= image_tag "backburner.png" %>
