---

title: Into The Unknown - My Departure from RedHat
date: 2018-04-15 18:20 UTC
tags: redhat, employment, ripple

---

<p>
In May 2006, a young starry eyed intern walked into the large corporate lobby of RedHat's Centential Campus in Raleigh, NC, beginning what would be a 12 years journey full of ups and downs, break-throughs and setbacks, and many many memories. Flash forward to April 2018, when the "intern-turned-hardend-software-enginner" filed his resignation and ended his tenure at RedHat to venture into the risky but exciting world of self-employment / entrepreneurship... Incase you were wondering that former-intern / Software Engineer is myself, and after nearly 12 years at RedHat, I finished my last day of employment on Friday April 13th, 2018.
</p>

<p>
Overall RedHat has been a great experience, I was able to work on many ground-breaking products and technologies, with many very talented individuals from across the spectrum and globe, in a manner that facilitated maximum professional and personal growth. It wasn't all sunshine and lolipops though, there were many setbacks, including many cancelled projects and dead-ends. That being said, I felt I was always able to speak my mind without fear of reprocussion, and always strived to work on those items that mattered the most and had the furthest reaching impact.
</p>

<p>
Some (but certainly not all) of those items included:
</p>

<ul>
  <li>The highly publicized, but now defunct, <a href="https://en.wikipedia.org/wiki/Red_Hat#Red_Hat_Exchange">RHX</a> project</li>
  <li>The <a href="https://en.wikipedia.org/wiki/OVirt">oVirt</a> virtualization management (cloud) platform, where I was on the original development team, and helped build the first prototypes &amp; implementation</li>
  <li>The RedHat Ruby stack, which was a battle to get off the ground (given the prevalence of the Java and Python ecosystems, continuing to to this day). This is one of the items I am most proud of, we addressed the needs of both the RedHat/Fedora and Ruby communities, building the necessary bridge logic to employ Ruby and Rails solutions in many enterprise production envrinments. This continues to this day as the team continuously stays ontop of upstream Ruby developments and provide robust support and solutions for downstream use</li>
  <li>The RedHat <a href="https://en.wikipedia.org/wiki/Red_Hat#CloudForms">CloudForms</a> projects, on which I worked on serveral interations, again including initial prototypes and standards, as well as <a href="https://en.wikipedia.org/wiki/ManageIQ">ManageIQ</a> integration.</li>
  <li><a href="https://en.wikipedia.org/wiki/ReFS">ReFS</a> reverse engineering and <a href="https://github.com/movitto/resilience">parser</a>. The last major research topic that I explored during my tenure at RedHat, this was a very fun project where I built upon the sparse information about the filesystem internals that's out there, and was able to deduce the logic up to the point of being able to read directory lists and file contents and metadata out of a formatted filesystem. While there is plenty of work to go on this front, I'm confident that the published <a href="<%= post_url("ReFS Part III - Back to the Resilience") %>">writeups</a> are an excellent launching point for additional research as well as the development of formal tools to extract data from the filesystem.</li>
</ul>

<p>
My plans for the immediate future are to take a short break then file to form a <a href="https://en.wikipedia.org/wiki/Limited_liability_company">LLC</a> and explore options under that umbrella. Of particular interest are crypto-currencies, specifically <a href="https://en.wikipedia.org/wiki/Ripple_(payment_protocol)">Ripple</a>. I've recently begun developing an integrated wallet, ledger and market explorer, and statistical analysis framework called <a href="http://wipple.morsi.org/">Wipple</a> which I'm planning to continue working on and if all goes according to plan, generating some revenue from. There is alot of <a href="<%= image_path("profit.jpg") %>">???</a> between here and there, but thats the name of the game!
</p>

<p>
Until then, I'd like to thank everyone who helped me do my thing at RedHat, from landing my initial internships and the full-time after that, to showing me the ropes, and not shooting me down when I put myself out there to work on and promote our innovation solutions and technologies!
</p>

<%= image_tag "solong.jpg" %>
