---

title: The Last Two Years
date: 2020-11-01 00:37 UTC
tags: personal, devnullprod, status

---

<p>
The last post on this blog (now mobile friendly!) was just over two years ago. Shortly after <a href="https://devnullprod.com">Dev Null Productions</a> was launched, long before COVID19. That world is now foreign and as we live and grow, we transform in ways we never expected, our experiences drive us to new insights and perspectives. The past few years has seen alot of changes, which in return has led to much reflection. Meditation helps the day in and day out in this increasingly complex world. There are many great articles on the subject, I encourage all to read the <a href="https://www.artofmanliness.com/articles/a-primer-on-meditation/">one</a> that introduced me onto the subject many years ago.
</p>

<%= image_tag "meditation.jpg", :class => "article_img" %>

<p>
I also advise caution to those finding themselves spending a large amout of time in <i>The Matrix</i>. While technical development can be fruitful and rewarding, there is alot to be said about the balance in life and human connection. Any worthwhile endeavor takes many hours and focus, especially one as complex as launching a business, each individual needs to undertake their own journey. <b>Dev Null Productions</b> moves forward and I'm excited for the things that are next in store.
</p>

<p>
But before that I'll be taking some personal time off, many hours were spent during the first 1/2 of the year running the <a href="https://www.meetup.com/NYC-XRP/">NYC/XRP meetup</a> and building and launching our latest project <a href="https://zerptracker.com">Zerp Tracker</a>. I'm proud of what we delivered and the product is working beautifully with no manual intervention, but the body and mind needs to recuperate.
</p>

<p>
I've been playing alot of guitar, honing my rollerblading technique, and am planning on launching a cross-country road trip in the near future... stay tuned for photos! Unfortunately the pandemic and looming economic crisis may affect that, the extent and ramifications of which noone will be able to foresee, but the open road calls and I look forward to the sights and experiences across this great planet.
</p>

<%= image_tag "OPENROAD.JPG", :class => "article_img" %>
