---

title: A few weeks on the road
date: 2020-11-23 18:48 UTC
tags: 

---

<p>
I spent the last few weeks on the road. Originally intending to take a cross-country road trip to seek new perspectives, this trip didn't quite amount to that, though it was good to get out of town for a while. Even shorter trips to new locations help clear the head, and I suspect that after this past year, many minds need some decluttering!
</p>

<p>
The first stop was Charleston, South Carolina, a quintessential southern town. After exploring King Street, <a href="https://en.wikipedia.org/wiki/The_Battery_(Charleston)">The Battery</a>, and the old Antebellum houses of historic Charleston, the journey continued onto the Tampa Bay, Florida area to spend some time on the gulf. There is alot to be said of being on the water, the waves crashing on the shore, the salt in the air, and the slower pace of life is theraputic when faced with fast-paced startup culture. The South offers alot which other parts of the country do not. Besides the beautiful weather this time of year, Southern courtesy is unparalleled and it is a refreshing change from the no-nonsense business oriented mannerisms of the north-east. Of course I'm painting broad stokes here, but it's something one has to experience first hand.
</p>

<p>
One major downside to modern society no matter where you go is the pervasiveness of a homogeneous corporate culture. Everywhere you look there are strip malls, McDonalds and Walmarts, and the same rest-stops, hotels, and types of business establishments. Global interconnectivity and connectedness has many benefits but a major disadvantage is that no idea is unique for long, and novel / original concepts are instantly copied and replicated without end.
</p>

<p>
The human psyche needs both the familiar as well as novelty, and the later is increasingly hard to find in the world. Even digitally, many concepts have already been pioneered, and many new innovations are rehashes of old ideas. Humanity will need to reconcile with this dichotomy in the future as there is no turning back, and no stemming innovation or the pioneering spirit. The only strategy that I see individuals and organizations having to be able to adapt in the modern age is to continue moving forward, accomplishments can be celebrated with brief periods of respite, but the hyper-competitive nature of the world doesn't leave much room for leniency... <i>talk about pressure</i>!
</p>

<%= image_tag "strip-mall.png", :class => "article_img" %>

<p>
After a few weeks, it was time to return back to NY, my homestate and location of maximum productivity. A 18+ hour drive from Florida saw the arrival in my hometown of Syracuse. This week will be spent here for the Thanksgiving holiday before returning back to <span style="text-decoration: line-through">The Matrix</span>, NYC, which while still in the midst of the on-going pandemic and the economic crisis that is just beginning to unfold, is critical to return to inorder to leverage the many business and networking opportunities that a major metropolitain center affords. Plus NYC is a fun city to live in!
</p>

<hr/>

<p>
In other news, be sure to checkout Dev Null Productions' latest product: <b><a href="https://github.com/DevNullProd/flexrp">FleXRP</a></b> - a tool to setup your XRP account for the upcoming <a href="https://flare.xyz/">Flare Networks</a> Spark Token Airdrop. While Flare will run on an independent Blockchain, the token distribution will be based on XRP account balances, with credentials being seeded from those XRP accounts who have been associated with ERC-compatibile (Ethereum based) addresses. FleXRP takes care of this setup process via a simple to use interface: run the app, provide the required information, and you are good to go!
</p>

<%= image_tag "flexrp.png", :class => "article_img" %>

<p>
Lastly I recommend fellow entrepreneurs, innovators, and other ambitious individuals read <b><a href="https://en.wikipedia.org/wiki/How_to_Win_Friends_and_Influence_People">How To Win Friends and Influence People</a></b>, that is if you haven't yet... I suspect this one is given to all business school students on day one! Having listening to the audiobook on my road trip, the knowledge is indispensible in the domain of human relations. While the concepts can be found summarized online, the anecdotes in the book really excemplify the points being made and demonstrate practical application.
</p>

<p>
While we're on the subject, also be sure to checkout <b><a href="https://www.amazon.com/Thick-Face-Black-Heart-Philosophy/dp/0446670200">Thickface, Blackheart</a></b>, a timeless classic on practical eastern business practices.
</p>

<div class="article_imgs">
  <%= image_tag "win-friends-influence-people.jpg", :class => "article_img" %>
  <%= image_tag "thickface-blackheart.png", :class => "article_img" %>
</div>

<p>
That's all for now, until next time!
</p>
