---
title: About Me
---

<div class="article">
<p>
  <div align="center">
    <h2>Mo Morsi</h2>
  </div>
  <div align="center">
    <h3>Email: mo at morsi dot org; AIM: movitto; IRC: mmorsi</h3>
  </div>
</p>

<div id="about_content1" style="float: left; width: 42%;">
<u>List of Professional Works (in reverse chronological order):</u>

<ul>
  <li>CloudForms 2.x (<a href="https://github.com/ManageIQ/polisher">polisher</a>, ReFS analysis)</li>
  <li>CloudForms 2.x (ManageIQ / RedHat integration)</li>
  <li>CloudForms 2.x/1.x (<a href="https://admin.fedoraproject.org/pkgdb/packager/mmorsi/">packaging / release engineering</a>)</li>
  <li>Many Fedora Contributions (active member of the Ruby Special Interest Group, presented at multiple FUDCons)</li>
  <li>Google Summer of Code / Google Code In Mentor For Fedora (students developed the <a href="http://isitfedoraruby.com">isitfedoraruby.com</a> site)</li>
  <li>CloudForms 1.x (presented / demoed CloudForms at the Ohio Linux Fest 2012)</li>
  <li>CloudForms 1.x (represented RedHat at the 2012 Google Summer of Code Mentor's Summit)</li>
  <li>CloudForms 1.x (<a href="https://github.com/movitto/snap">snap</a> - implemented in Python)</li>
  <li>CloudForms 1.x (<a href="https://github.com/aeolusproject/aeolus-configure/commits/master?page=14">aeolus-configure / installer / puppet-recipe</a>)</li>
  <li>CloudForms 1.x (UI & Backend Development)</li>
  <li>oVirt (packaging / release engineering)</li>
  <li>oVirt (ovirt-viewer, implemented in C)</li>
  <li>oVirt (UI & Backend Development)</li>
  <li>RHX (implemented in Java, one of 3 UI / backend devs)</li>
  <li>RH Errata Tool (used to manage all of Red Hat's <a href="https://en.wikipedia.org/wiki/Erratum">errata</a>)</li>
  <li>Many various other projects & patchsets, both small and large, implemented in Ruby, Python, Java, C, and more.</li>
</ul>
</div>

<div id="about_img" style="float: right; width: 45%; margin-top: 30px;">
    <%= image_tag "dok.jpg" %>
</div>

<div style="clear: both;"></div>

<u>List of Notable Side Projects</u>

<ul>
  <li><a href="https://github.com/movitto/omega">Omega</a> - a physics simulator written in Ruby & Javascript using WebGL and Websockets</li>
  <li><a href="https://github.com/movitto/rjr">The Ruby JSON-RPC implementation</a></li>
  <li><a href="https://github.com/movitto/RXSD">The Ruby XSD Library</a></li>
  <li><a href="https://github.com/movitto/nethack-encyclopedia">The Nethack Encyclopedia Android App</a> - Download for free now on the Android Marketplace</li>
  <li>And many more (see presentations and various older projects in languages including C++ <a href="http://projects.morsi.org/wiki/Main_Page">here</a>)</li>
</ul>


<u>Various Academic Projects</u>
<ul>
<li>Minix Kernel IPSec & RBAC Implementations</li>
<li>Bluetooth Control Profile, Senior Design Project, winner of the <i>Louis N. DeMartini Award for Innovative Undergraduate Research</i></li>
<li>Many various projects, research, and papers on topics ranging from Computer and Network Security, to Compiler Design, to Kernel Development, and more</li>
</ul>

<u>Employers</u>:
<p>
<i>Red Hat: Software Engineer</i> (May '11- April '18)<br/>
CloudForms, the RedHat Ruby platform
</p>

<p>
<i>Syracuse Innovators Guild: Co-founder, VP, Interim President</i> (Feb '10 - Oct '11)<br/>
Founding member of Syracuse NY's non-profit hackerspace.
</p>

<p>
<i>Red Hat: Web Developer / Associate Software Engineer</i> (Sept '07 - May '11)<br/>
RHX, oVirt
</p>

<p>
<i>Red Hat: Global Support Services Intern</i> (May '07 - August '07)<br/>
Lead developer of a team of six working on "Mr. Logistics", your friendly neighborhood consultant management tool!
</p>

<p>
<i>Red Hat: Quality Assurance Intern</i> (May '06 -> August '06)<br/>
Developer on the Red Hat Errata Tool
</p>

<p>
<i>The Living SchoolBook: Web Developer / Sys Admin</i>  (Spring '04 -> Spring '06)<br/>
</p>

<p>
<u>Education</u>:

<p>
<i>Syracuse University</i>              May '08<br/>
Degree: M.S. in Computer Engineering
</p>

<p>
<i>Syracuse University</i>		May '06<br/>
Degree: B.S. in Computer Engineering / Mathematics<br/>
Member of the College of Engineering & Computer Science Dean's List for six consecutive semesters.
</p>

<u>Other Interests</u>:
Science-Fiction, philosophy, literature, music, playing the guitar, aikido, maintaining an active lifestyle, spending time w/ family and friends, and being good to my fellow man.
</div>
