---
title: Presentations
---

<div class="article">
  Presentations

  <canvas id="presentation_canvas" width="1450" height="500"></canvas>

  <script type="text/javascript">
    $(document).ready(function(){
      var d = dwitter("#presentation_canvas");
          d(d.tunnel);
    });
  </script>
</div>
